<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  
<body>
  <h1>superherogallery</h1>
  <div class="gallery">

    <nav>
      <ul>
          <li>
            <button><a href="/superheros/new"> create super hero </a></button>
          </li>

          <li>
          <button><a href="/superheros/newpower"> create new power </a></button>
          </li>
      </ul>
    </nav>

    <main>
      <h2>List of Superheroes</h2>
      <ul>
        <% for (let i = 0; i < superheros.length; i++) { %>
          <li>
            <a href="/superheros/<%= superheros[i]._id %> "><%= superheros[i].name %> </a>
          </li> 
        <% } %>
      </ul>      


    </main>


  </div>

  
</body>
</html>