<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  
<body>
  <h1>createnewsuperhero</h1>
  <div class="createnewsuperhero">

    <nav>
      <ul>

          <li>

          <button><a href="/superheros/gallery"> gallery </a></button>
           

          </li>

         
      </ul>
    </nav>
    <main>
      <form action="/superheros" method='POST'>
        <input type="text" name= 'name'/>
        <input type="submit" value="createsuperhero"/>
      </form>
    </main>


  </div>

  
</body>
</html>