<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Show Page for <%= superheros.name %> </h1>

    <nav>
        <ul>
            <li>
                <a href="/superheros">Home</a>
            </li>

            <li>
                <a href="/superheros/gallery">View Superhero Gallery</a>
            </li>
        </ul>

        <main>
            <section>
                <h2>Superhero Info:
                    <ul>
                        <li>Name: <%= superheros.name %> </li>
                    </ul>
                </h2>

            </section>


        </main>

    </nav>




</body>
</html>