<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/style.css">
</head>

<body>
  <h1>Superheroes</h1>
  <div class="welcome">

    <nav>
      
      <ul>
        <li>
          <button><a href="/superheroes/gallery">View Superhero Gallery</a></button>
        </li>

        <li>
          <button><a href="/superheroes/new">Create New Superhero</a></button>
        </li>

    </nav>

  </div>

  
</body>
</html>