<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  
<body>
  <h1>SuperHeros</h1>
  <div class="welcome">

    <nav>
      <ul>
          <li>

            <button><a href="/superheros/gallery"> View Gallery </a></button>
           

          </li>

          <li>

          <button><a href="/superheros/createhero"> create super hero </a></button>
           

          </li>

          <li>

          <button><a href="/superheros/createsuperheropower"> create super powers </a></button>
           

          </li>

        
      </ul>
    </nav>



  </div>

  
</body>
</html>