<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>Superhero</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Superheroes</a>
        <ul>
            <li>
                <a href="/superheroes/gallery">View Superhero Gallery</a>
            </li>
    
            <li>
                <a href="/superheroes/new">Create New Superhero</a>
            </li>

            <li>
                <a href="/powers/new">Add Power to Superhero</a>
            </li>
        </ul>
    </nav>
    <%- body %>
</body>
</html>