<header>
  <h1>Superhero Powers</h1>
</header>

<nav>
  <ul>
    <li>
      <a href="/superheroes/new">Create New Superhero</a>
    </li>

    <li>
      <a href="/powers/new">Add Power to Superhero</a>
    </li>
  </ul>
</nav>

<main>
  <h2>List of Superhero Powers</h2>
  <ul>
    <% for (let i = 0; i < powers.length; i++) { %>
      <li>
        <a href="/powers/<%= powers[i]._id %> "><%= powers[i].type %> </a>
      </li> 
    <% } %>
  </ul>      
</main>