<header>
  <h1>Superhero Powers</h1>
</header>

<main>
  <h2>List of Superhero Powers</h2>
  <ul>
    <% for (let i = 0; i < powers.length; i++) { %>
      <li>
        <a href="/powers/<%= powers[i]._id %> "><%= powers[i].type %> </a>
      </li> 
    <% } %>
  </ul>      
</main>