<header>
  <h1>Add New Power</h1>
</header>

<main>
  <form action="/powers" method='POST'>
    <select name="superheroId">
      <% for(let i = 0; i < superheroes.length; i++) { %>
        <option value="<%= superheroes[i]._id %>"><%= superheroes[i].name %></option>
      <% } %>
    </select><br/>
    Power Type: <input type="text" name="type"/><br/>
    Description: <textarea name="description"></textarea><br/>
    <input type="submit" value="Add Power"/>
  </form>
</main>