// SCSS Variables
$primaryColor: black;
$secondaryColor: grey;
$textOnPrimary: white;

$base-font: 16px;
$primary-font: 'Anton', sans-serif;

@mixin transition-ease {
    transition: all o.5s ease-in-out;
}

// CSS RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $base-font;
    font-family: $primary-font;
}

// Classes
.navbar {
    background-color: $primaryColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    filter: drop-shadow(0 4px 4px rgba(247, 243, 243, 0.25));
}

a {
    color: $textOnPrimary;
    text-decoration: none;
    font-size: 2rem;
    padding: 1.5rem;
    &:hover {
        color: $secondaryColor;
        @include transition-ease;
    }
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;

    a {
        color: $textOnPrimary;
        text-decoration: none;
        font-size: 1rem;
        padding: 1.5rem;
    }
}

.home {
    margin-top: 200px;
    h1 {
    font-size: 3rem;
    }
}

.gallery {
    margin-top: 75px;
}

.gallery-hero {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 125px;
}

.hero-info,
.power-info {
    display: inline;
    margin-top: 20px;

    ul {
        display: flex;
        flex-direction: column;
    }
    a {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .powers {
        display: inline;
        li {
            display: inline;
        }
    }
}

.hero-edit,
.power-edit {
    font-size: $base-font;
}

.hero-delete,
.power-delete {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}


// Default Selectors
body { 
    background: url('../images/labsuperheros.png') no-repeat center center fixed; 
    background-size: cover;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 100px;
    h1 {
        margin-top: 75px;
        font-size: 1.5rem;
        color: $textOnPrimary;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    color: $textOnPrimary;
    a {
        align-content: center;
    }
}