<header>
    <h1>Superhero Profile:</h1>
</header>

<main>
    <form action="/superheroes/<%= superheroes._id %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%= superheroes.name %>"> <br/>
        
        <label for="gender">Gender:</label>
        <select name="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select><br/>
      
        <label for="race">Race:</label>
        <select name="race">
          <option value="human">Human</option>
          <option value="mutant">Mutant</option>
        </select><br/>
        
        Mask:
        <input type="checkbox" name="mask"
            <% if (superheroes.mask === true) { %>
                checked
            <% } %>
        />
        <br/>
        Weapon:
        <input type="checkbox" name="weapon"
            <% if (superheroes.weapon === true) { %>
                checked
            <% } %>
        /> 
        <br/>
        <input type="submit" value="Update Superhero">
    </form>
</main>
