<!DOCTYPE html>
<html class="gallery" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <title>Superhero</title>
</head>
  
<body class="superhero-gallery">
  <h1><a class="superhero-header" href="/superheroes">Superheroes</a></h1>
  <div class="gallery">

    <nav class="gallery-nav">
      <ul>
        <li>
          <a href="/superheroes/new">Create New Superhero</a>
        </li>

        <li>
          <a href="/powers/new">Add Power to Superhero</a>
        </li>
      </ul>
    </nav>

    <main class="gallery-main">
      <h2>List of Superheroes</h2>
      <ul>
        <% for (let i = 0; i < superheroes.length; i++) { %>
          <li>
            <a href="/superheroes/<%= superheroes[i]._id %> "><%= superheroes[i].name %> </a>
          </li> 
        <% } %>
      </ul>      
    </main>

  </div>

  
</body>
</html>