<header class="gallery">
  <h1>Gallery</h1>
</header>

<main class="hero-gallery">
  <ul>
    <% for (let i = 0; i < superheroes.length; i++) { %>
      <li>
        <a href="/superheroes/<%= superheroes[i]._id %> ">
          <img class="hero-image" 
                      src="<%= `/images/thumbnails/${superheroes[i].gender}-${superheroes[i].race}${superheroes[i].mask ? '-mask' : ''}${superheroes[i].weapon ? '-weapon' : ''}.png`%>"></a>
        <br/>
        <a href="/superheroes/<%= superheroes[i]._id %> "><%= superheroes[i].name %> </a>
      </li> 
    <% } %>
  </ul>      
</main>