<!DOCTYPE html>
<html class="new" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <title>Superhero</title>
</head>
  
<body class="superhero-new">
  <h1><a class="superhero-header" href="/">Superheroes</a></h1>
  
  <h2>Create New Superhero</h2>
  
  <div class="createnewsuperhero">

    <nav>
      <ul>
        <li>
          <a href="/superheroes/gallery">View Superhero Gallery</a>
        </li>

        <li>
          <a href="/powers/new">Add Power to Superhero</a>
        </li>
      </ul>
    </nav>

    <main>
    <form action="/superheroes" method='POST'>
        Name: <input type="text" name= 'name'/><br>

        <label for="gender">Gender:</label>
        <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br/>
        
        <label for="race">Race:</label>
        <select name="race">
            <option value="human">Human</option>
            <option value="mutant">Mutant</option>
        </select><br/>
        
        Mask: <input type="checkbox" name="mask"><br>
        Weapon: <input type="checkbox" name="weapon"><br>
        <input type="submit" value="Create Superhero"/>
      </form>
    </main>

  <!-- </div>

  <script>
    document.querySelector(".testevent").addEventListener("submit", () => {
      console.log("works")
    })

    let testImage = "images/super.heromguy.png"
    let heroImage = document.getElementById("test").setAttribute("src", testImage)
    
    function heroCheck() {

      switch (heroImage) {
        case (gender == "male" && mask === true && weapon === true && race == "human"): 
          heroImage = testImage;
          console.log("works")
          break;
          

      }
    }
      
  </script> -->
  
</body>
</html>