<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
  
<body>
  <h1>Create New Superhero</h1>
  <div class="createnewsuperhero">

    <nav>
      <ul>
        <li>
          <button><a href="/superheroes">Home</a></button>
        </li>

        <li>
          <button><a href="/superheroes/gallery">View Gallery</a></button>
        </li>

        <li>
          <button><a href="/powers/index">View Powers</a></button>
        </li>

      </ul>

    </nav>
    <main>
      <form action="/superheroes" method='POST'>
        <input type="text" name="name"/>
        <input type="submit" value="Create Superhero"/>
      </form>
    </main>

  </div>

  
</body>
</html>