<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  
<body>
  <h1>Create New Superhero</h1>
  <div class="createnewsuperhero">

    <nav>
      <ul>
        <li>
          <button><a href="/superheroes/gallery">View Superhero Gallery</a></button>
        </li>
      </ul>

    </nav>
    <main>
      <form action="/superheroes" method='POST'>
        Name: <input type="text" name= 'name'/> <br>
        Gender: <input type="text" name="gender" value="Male or Female"> <br>
        Mask: <input type="checkbox" name="mask"> <br>
        Weapon: <input type="checkbox" name="weapon"><br>
        Race: <input type="text" name="race">
        <input class="testevent" type="submit" value="Create Superhero"/>
      </form>
      <div>
        <img id="test" src="../../images/filler.jpg" >
      </div>
    </main>

  </div>

  <script>
    document.querySelector(".testevent").addEventListener("submit", () => {
      console.log("works")
    })

    let testImage = "images/super.heromguy.png"
    let heroImage = document.getElementById("test").setAttribute("src", testImage)
    
    function heroCheck() {

      switch (heroImage) {
        case (gender == "male" && mask === true && weapon === true && race == "human"): 
          heroImage = testImage;
          console.log("works")
          break;
          

      }
    }
      

  
  </script>
  
</body>
</html>